::-webkit-input-placeholder {
  color: white;
}

small {
  padding: 5px;
  font-size: 14px;
}

input, select, textarea {
  color: yellow;
}

input.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

select.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

textarea.ng-invalid.ng-touched {
  box-shadow: 0 0 8px 4px red;
}

.invalid-form-text {
  color: red;
}
