<div>
  <h2 class="font-italic text-warning text-center p-2">{{isEdit? 'Edit recipe' : 'Creat new recipe'}}</h2>
  <form class="p-3 col-6 m-auto" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameRecipe">Name recipe</label>
      <input type="text" class="form-control bg-info my-hover-white" id="nameRecipe" formControlName="nameRecipes"
             placeholder="name recipe">
      <small
        *ngIf="fieldHasError('nameRecipes', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your name recipe!
      </small>
    </div>
    <div class="form-group">
      <label for="description">Description recipe</label>
      <textarea class="form-control bg-info my-hover-white" id="description" rows="3" formControlName="description"
                placeholder="Description recipe..."></textarea>
      <small
        *ngIf="fieldHasError('description', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your description!
      </small>
    </div>
    <div class="form-group">
      <label for="nameRecipe">Image recipe</label>
      <input type="text" class="form-control bg-info my-hover-white" id="image" formControlName="image"
             placeholder="Image 'url' recipe">
      <small
        *ngIf="fieldHasError('image', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your image URL!
      </small>
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients recipe</label>
      <textarea class="form-control bg-info my-hover-white" id="ingredients" formControlName="ingredients" rows="3"
                placeholder="Ingredients recipe..."></textarea>
      <small
        *ngIf="fieldHasError('ingredients', 'required')"
        class="form-text invalid-form-text "
      >
        Enter your ingredients!
      </small>
    </div>
    <div class="mb-3 d-flex justify-content-center flex-column" formArrayName="steps">
      <button (click)="addSteps()" type="button" class="btn btn-info m-2 text-white">Add steps</button>
      <div class="mb-2" *ngFor="let step of getSteps(); let i = index">
        <div [formGroupName]="i">
          <div class="d-flex mt-2 mb-2">
            <h4 class="mt-1 mb-1">Step #{{ i+1 }}</h4>
            <button type="button" class="btn btn-danger ml-3" (click)="onRemoveStep(i)"
            >
              <span *ngIf="indexStep !== i">Delete step # {{ i + 1}}</span>
              <span *ngIf="indexStep === i" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
            </button>
          </div>
          <div class="form-group">
            <label for="stepImg">Step image</label>
            <input type="text" class="form-control bg-info my-hover-white" id="stepImg" formControlName="imageStep"
                   placeholder="Step image 'URL'">
          </div>
          <small
            *ngIf="fieldSkillsError('imageStep', i,'required')"
            class="form-text invalid-form-text d-block">
            Select step image
          </small>
          <div class="form-group">
            <label for="stepDescription">Step description</label>
            <textarea class="form-control bg-info my-hover-white" id="stepDescription" rows="3"
                      formControlName="descriptionStep" placeholder="Step description..."></textarea>
          </div>
          <small
            *ngIf="fieldSkillsError('descriptionStep', i,'required')"
            class="form-text invalid-form-text">
            Select step description
          </small>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center m-2">
      <button type="submit" class="btn btn-warning font-weight-bold my-hover-orange" [disabled]="reactiveForm.invalid || isOpen">
        <span *ngIf="loading">{{isEdit? 'Edit' : 'Creat'}}</span>
              <span *ngIf="!loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
      </button>
    </div>
  </form>
</div>
