<ng-container *ngIf="!loading, else preloader">
  <div *ngIf="recipe">
    <h3 class="font-italic font-weight-bold text-center m-2 p-2">Name recipes: {{ recipe.nameRecipes }}</h3>
    <div class="d-flex p-2">
      <div class="p-2 bg-warning border border-white rounded">
        <img [src]="[recipe.image]" alt="recipes.img" class="rounded border border-white"
             style="width: 500px; height: 500px">
      </div>
      <div class="p-2">
        <p>Description: {{ recipe.description }}</p>
        <p>Ingredients: {{ recipe.ingredients }}</p>
      </div>
    </div>
    <div class="d-flex flex-column" *ngFor="let step of recipe.steps, let i = index">
      <h4 class="m-3">Step # {{ i + 1 }}</h4>
      <div class="d-flex">
        <div class="p-2 bg-warning border border-white rounded m-3">
          <img [src]="[step.imageStep]" alt="step.img" class="border border-white rounded"
               style="width: 400px; height: 400px">
        </div>
        <p class="mt-4">Description step: {{ step.descriptionStep }}</p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #preloader>
  <div class="lds-heart">
    <div></div>
  </div>
</ng-template>
