body,html {
  height: 100%;
  color: white;
  box-sizing: border-box;
  background: url("https://c4.wallpaperflare.com/wallpaper/192/942/370/pepper-red-hot-food-wallpaper-preview.jpg") 50% 20%;

}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0;
}

.my-hover-white:hover{
  box-shadow: 0 0 15px 5px white;
}

.my-hover-orange:hover{
  box-shadow: 0 0 10px 5px orange;
}

.my-hover-green:hover{
  box-shadow: 0 0 7px 5px green;
}

.my-hover-red:hover{
  box-shadow: 0 0 7px 5px red;
}

.my-hover-link:hover{
  border-bottom: 1px solid yellow;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  margin-left: 50%;
  margin-top: 10%;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: orange;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: orange;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

