<ng-container *ngIf="!loading, else preloader">
<div class="d-flex flex-wrap justify-content-around">
  <div class="card text-dark m-3 my-hover-white border-warning" style="width: 20rem;" *ngFor="let recipes of recipesArray">
    <img [src]="[recipes.image]" class="card-img-top" alt="recipes.img" style="width: 19.9rem;height: 20rem">
    <div class="card-body">
      <h5 class="card-header-pills">Recipe name:{{ recipes.nameRecipes }}</h5>
      <p class="card-text">Description: {{ recipes.description }}dsd</p>
      <div class="d-flex justify-content-center flex-column">
        <a [routerLink]="[recipes.id, 'information-recipe']" class="btn btn-success my-hover-green">Go to recipe >></a>
        <div class="row justify-content-between m-4 pl-3 pr-3">
          <a [routerLink]="[recipes.id, 'edit-recipe']" class="btn btn-warning pl-4 pr-4 my-hover-orange">Edit</a>
          <button class="btn btn-danger my-hover-red" (click)="onRemove(recipes.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-template #preloader>
  <div class="lds-heart"><div></div></div>
</ng-template>
